h2 {
    color: rgb(255, 255, 0);  
    font-family: Gill Sans, serif;
    font-style: bold;
    text-align: left;
}
h3 {
    color: #d3d3d3; 
    font-family: arial;
    
}
.col-md-6 {
    margin-left: 100px;
     
    margin-left: 300px;
    border-style: double;
    border-color:indianred;
    margin-top: 40px;
}


p {
    color: bisque;
}
